PORT=8080
BASIC_AUTH_USERNAME=y
BASIC_AUTH_PASSWORD=y

PUBLIC_KEY_PATH=jwtrsa.key.pub
PRIVATE_KEY_PATH=jwtrsa.key

MYSQL_CONNECTION_LIMIT=25
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=sanstock

USERNAME_ADMIN=admin
PASSWORD_ADMIN=admin123